name: iOS CI
on: [pull_request, push]

jobs:
  build:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4
      - run: |
          xcodebuild \
            -project Tuck.xcodeproj \
            -scheme hankim \
            -sdk iphonesimulator \
            -destination 'platform=iOS Simulator,name=Any iOS Simulator Device' \
            CODE_SIGNING_ALLOWED=NO \
            build
